apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
  labels:
    app: simrunner
type: Opaque
stringData:
  connection-string: "mongodb+srv://username:password@cluster.mongodb.net/database?retryWrites=true&w=majority"
